img{
    width:30%;
    height:700px;
    vertical-align: middle;
}
h1{
    position:relative;
    color: black;
}
h4{
    position: relative;
    color: black;
}
body 
{background-image: url("img/dresses/rainbow.jpg");
    background-repeat: no-repeat;
}
.monospace {
  font-family: "Lucida Console", monospace;
}